@charset "UTF-8";
html {
  height: 100%; }

body {
  background: #fff;
  position: relative;
  bottom: 0;
  height: auto;
  min-height: 100%;
  _height: 100%;
  overflow-x: visible;
  box-sizing: border-box;
  padding-bottom: 50px; }

body > .grid {
  height: 100%;
  margin: 0 !important; }

.topnav {
  border-radius: 0 !important; }

.ui.footer.segment {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: 14px/100% "微软雅黑", "Microsoft YaHei", arial;
  -webkit-text-size-adjust: none; }

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  line-height: 100%; }

ul, ol, li {
  list-style: none; }

input, select, textarea {
  outline: none;
  resize: none;
  font: 12px/100% "微软雅黑", "Microsoft YaHei"; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  border: 1px solid #dee3e9 !important;
  background-color: #fff;
  background-image: none;
  color: #827b83 !important; }

button {
  outline: none; }

a {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #383a4c; }

img {
  vertical-align: middle;
  border: none; }

#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6); }

#loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg); }
  #loader:before, #loader:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%); }
  #loader:before {
    animation: before 2s infinite; }
  #loader:after {
    animation: after 2s infinite; }

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75); }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75); }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); } }
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75); }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75); }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); } }
/**
 * Attempt to center the whole thing!
 */
#loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em); }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
    font: 0/0 a; }
  .clearfix:after {
    clear: both; }



/*# sourceMappingURL=maps/main.css.map */
