<div class="ui grid">
	<div class="ui eight wide column" style="padding-top: 50px;">
		<div class="ui grid">
			<div class="ui ten wide column">
				<div class="ui special cards">
				    <div class="card">
				        <div class="blurring dimmable image">
				            <div class="ui dimmer">
				                <div class="content">
				                    <div class="center">
				                        <div class="ui inverted button">Add Friend</div>
				                    </div>
				                </div>
				            </div>
				            <img src="/images/elliot.jpg">
				        </div>
				        <div class="content">
				            <a class="header">Team Fu</a>
				            <div class="meta">
				                <span class="date">Create in Sep 2014</span>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="ui six wide column">
				<div class="ui form">
					<div class="ui fields">
						<div class="ui inline field">
							<div class="ui right labeled input" style="width: 100%;">
								<div class="ui label" style="width: 60px;">width</div>
								<input type="text" placeholder="请输入" style="width: 50px;">
								<div class="ui basic label">px</div>
							</div>
						</div>
					</div>
					<div class="ui fields">
						<div class="ui right labeled input" style="width: 100%;">
							<div class="ui label" style="width: 60px;">height</div>
							<input type="text" placeholder="请输入" style="width: 50px;">
							<div class="ui basic label">px</div>
						</div>
					</div>
					<div class="ui fields">
						<div class="extra content">
							<div class="ui two buttons">
								<div class="ui basic green button">Approve</div>
								<div class="ui basic red button">Decline</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h4 class="ui horizontal divider header"><i class="bar chart icon"></i> Specifications </h4>
	</div>
	<div class="ui eight wide column" style="padding-top: 50px;"></div>
</div>