@charset "UTF-8";
%dib{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.clearfix {
    @if $lte7 {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
        font: 0/0 a;
    }
    &:after {
        clear: both;
    }
}
