<div class="ui breadcrumb">
	<div class="section">
		<i class="inverted circular teal folder icon"></i>
		markdown
	</div>
</div>

<div class="ignored ui info message">
    <div class="ui form">
        <div class="inline fields">
            <div class="field">
                <select class="ui dropdown">
                    <option value="nickName">老师名字</option>
                    <option value="email">邮箱</option>
                    <option value="mobile">手机</option>
                    <option value="skype">企业QQ</option>
                    <option value="ID">老师ID</option>
                </select>
            </div>
            <div class="field">
                <input type="text">
            </div>
            <div class="two wide field">
                <select class="ui dropdown">
                    <option value="N">全部</option>
                    <option value="M">男</option>
                    <option value="F">女</option>
                </select>
            </div>
            <div class="two wide field">
                <select class="ui dropdown">
                    <option value="0">全部</option>
                    <option value="8">未激活</option>
                    <option value="9">已注册</option>
                    <option value="4">审核中</option>
                    <option value="5">面试</option>
                    <option value="6">培训</option>
                    <option value="7">签约</option>
                    <option value="1">正常</option>
                    <option value="2">禁用</option>
                    <option value="3">解聘</option>
                </select>
            </div>
            <div class="field">
                <label style="width:80px;text-align:right">操作时间:</label>
            </div>
            <div class="two wide field">
                <input type="text">
            </div>
            <div class="two wide field">
                <input type="text">
            </div>
            <div class="three wide field">
                <button style="width:100px" class="ui mini primary button" type="button">
                	<i class="search icon"></i>
                	搜索
                </button>
            </div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="sixteen wide column" style="overflow:hidden">
        <table class="ui break celled table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>老师ID</th>
                    <th>邮箱</th>
                    <th>姓名</th>
                    <th>昵称</th>
                    <th style="width:50px">性别</th>
                    <th>企业QQ</th>
                    <th style="width:155px">操作时间</th>
                    <th>账号状态</th>
                    <th style="width:105px">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>11534</td>
                    <td>
                        <button class="ui mini green icon button" type="button"><i class="search icon"></i></button>
                    </td>
                    <td>Glenda Graham, NA</td>
                    <td>Glenda</td>
                    <td>女</td>
                    <td>
                        <button class="ui mini green icon button" type="button"><i class="search icon"></i></button>
                    </td>
                    <td>2017-01-08 00:07:35</td>
                    <td>审核中</td>
                    <td><a class="ui mini primary button"><i class="search icon"></i>查看</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>11534</td>
                    <td>
                        <button class="ui mini green icon button" type="button"><i class="search icon"></i></button>
                    </td>
                    <td>Glenda Graham, NA</td>
                    <td>Glenda</td>
                    <td>女</td>
                    <td>
                        <button class="ui mini green icon button" type="button"><i class="search icon"></i></button>
                    </td>
                    <td>2017-01-08 00:07:35</td>
                    <td>审核中</td>
                    <td><a class="ui mini primary button"><i class="search icon"></i>查看</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>11534</td>
                    <td>
                        <button class="ui mini green icon button" type="button"><i class="search icon"></i></button>
                    </td>
                    <td>Glenda Graham, NA</td>
                    <td>Glenda</td>
                    <td>女</td>
                    <td>
                        <button class="ui mini green icon button" type="button"><i class="search icon"></i></button>
                    </td>
                    <td>2017-01-08 00:07:35</td>
                    <td>审核中</td>
                    <td><a class="ui mini primary button"><i class="search icon"></i>查看</a></td>
                </tr>
            </tbody>
		</table>
	</div>
</div>